<img src="w_g_m_U.png"></img>

<h1>신의 손장난</h1>

<form action="/home/result" method="post" target="_blank">
  이름을 입력해 주세요. <br>
  <input type="text" name ="username"><br>
  <input type="submit" value="Submit">
</form>